
    <ion-segment value="1">
      <ion-segment-button value="1" layout="icon-bottom" [routerLink]="['/','home','tabs','billing','create']">
        <ion-icon name="create-outline"></ion-icon>
        <ion-label>Create</ion-label>
      </ion-segment-button>
      <ion-segment-button value="2" layout="icon-bottom">
        <ion-icon name="scan-outline"></ion-icon>
        <ion-label>Recieve</ion-label>
      </ion-segment-button>
      <ion-segment-button value="3" layout="icon-bottom">
        <ion-icon name="git-compare-outline"></ion-icon>
        <ion-label>History</ion-label>
      </ion-segment-button>
    </ion-segment>




